body {
    margin-bottom: 60px;
}

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

header .leftContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.leftContainer .logoContainer {
    padding: 10px;

}

.logoContainer img {
    width: 80px;
    aspect-ratio: 1/1;
}

.leftContainer .pageName {
    font-family: "Poppins";
    font-weight: bold;

}

@media (max-width :768px) {
    .leftContainer .pageName {
        display: none;
    }
}

.rightContainer {
    flex-grow: 1;
    padding: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;

}

.rightContainer ul {
    align-items: center;
    display: flex;
    gap: 30px;
}


.rightContainer ul li.signOutBtn {
    border: 2px solid var(--secondaryColor);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: var(--secondaryColor);
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 12px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.rightContainer ul li.signOutBtn:hover {
    background-color: var(--primaryColor);
    border: 2px solid var(--secondaryColor);
    color: white;
}

.signOutBtn button {
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
}

.rightContainer ul li.signOutBtn:hover button {
    color: white;
}

ul li {
    list-style: none;
}

ul li div.ProfileImg {
    margin-right: 10px;

}

ul li a {
    color: black;
    position: relative;
}

.rightContainer ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--primaryColor);
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.rightContainer ul li:not(.chatbox):hover a::after {
    width: 100%;
}

.rightContainer ul li:not(.signOutBtn):not(.profile):hover {
    transform: translateY(-2px);
}

.rightContainer ul li:hover a {
    color: var(--primaryColor);
}



.rightContainer ul li div.profileImg img {
    border: 3px solid var(--primaryColor);
    padding: 1px;
    width: 70px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* start main content */
.mainContent {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.actualDataContainer {
    display: flex;

    justify-content: center;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;

    margin-bottom: 20px;
}

.actualDataContainer .card {
    display: flex;
    padding: 20px 10px;
    min-width: 300px;
    width: calc(100% / 3 - 30px);
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 200px;
    text-align: center;

    position: relative;
}

.actualDataContainer .card:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    right: 0;
    width: 2px;
    height: 70%;
    background-color: var(--secondaryColor);


}

.card h2 span {

    padding-left: 20px;
    color: #777;
}

.card.etat button {
    padding: 10px 10px;
    width: fit-content;
    align-self: center;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--secondaryColor);

}

.detailsContainer {
    background-color: #e8f5e9;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 240px;
    border-radius: 12px;
    display: flex;

    width: 60%;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.11);
    margin: 0 auto;
    overflow: hidden;

}
.detailsContainer.disable{
    display: none;
}

.leftContent {
    padding: 10px;
    width: 80%;
    background-color: #E9E9E9;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.leftContent .detailsDate {
    font-size: 2em;
    font-weight: bold;
}

.leftContent .detailsDescription {
    font-size: 1.2rem;
    text-indent: 5px;

}

.rightContent {
    padding: 10px;
    gap: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rightContent img {
    border-radius: 50%;

}

.rightContent .detailsDistance {
    font-size: 2em;
    font-weight: bold;
}

.rightContent .detailsDistanceValue {
    color: #425166;
    font-size: 1em;
}

.imgContainer {
    display: flex;
    justify-content: center;
    width: 40%;
    min-width: 400px;
    max-width: 100%;
}
@media (max-width : 992px){
    .imgContainer{
        width: 100%;
    } 
}

.imgContainer img {
    border-radius: 15px;
    overflow: hidden;
    width: 90%;
    max-width: 700px;

    box-shadow: 1px 2px 10px rgba(73, 72, 72, 0.308);
}
.statistiqeContainer{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  
}
